# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Flask stuff:
instance/
.webassets-cache

python_proj/

# PyBuilder
.pybuilder/
target/


# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Ignore Terraform directories
.terraform/
